<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Game240">

        <!-- 1. 加载页（SplashActivity）：设为启动页，竖屏 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. 你的目标页（StartActivity）：移除启动入口，保留竖屏、exported=true（SplashActivity要跳转它） -->
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <!-- 3. 原有Activity：配置完全不变 -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".Time_model"
            android:exported="false"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>